<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- jquery -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <a href="/" >
            <h1> Quoteslection </h1> <h4> (Quotes-Collection) </h4  >
        </a>
        <nav>
            <ul>
                {% if not session.username %}
                    <li> <a href="/signin"> Sign In </a> </li>
                    <li> <a href="/signup"> Sign Up </a> </li>
                {% else %}
                    <li> <a href="/favourite_quotes"> Favourites </a> </li>
                    <li> <a href="/my_quotes"> My submissions </a> </li>
                    <li> <a href="/submit"> Submit a quote</a> </li>
                    <li> <a href="/signout"> Sign Out </a> </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ message }}
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <section class="main_section">
        {% block main_body %} {% endblock %}
    </section>

    <hr>

    <footer>
        {% if not session.user_id %}
        <h5>
            Not signed in. <br>
            <a href="/signin"> <u> Sign In </u> </a> or <a href="/signup"> <u> Sign Up </u> </a>
        </h5>
        {% else %}
        <h5>
            Signed in as: {{ session.firstname }} {{ session.lastname }} <br>
            Username: {{ session.username }} <br>
            <a href="/signout"> <u> Sign Out </u> </a>
        </h5>

        {% endif %}
    </footer>
    <input type="hidden"name="next" value="{{ request.args.get('next', '') }}" />  <!-- for passing next url in some endpoint -->
</body>

</html>