<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header style="background-color: pink; color: palevioletred;">
        <h1>Quoteslection</h1>
        <nav>
            <ul>
                <li>Sign In</li>
                <li>Sign Up</li>
                <li>Sign Out</li>
                <li>All Quotes</li>
                <li>My Quotes</li>
            </ul>
        </nav>
    </header>
    {% block main_body %}{% endblock %}
</body>
</html>