{% extends "layout.html" %}

{% block main_body %}

<h2>My Quotes</h2>
{% if not user_quotes %}
<p> You have no quotes. <u> <a href="/submit"> Submit a quote. </a> </u> </p>
{% else %}
<div class="tablediv">
    <table>
        <thead>
            <tr>
                <th> Quote </th>
                <th> Quotee </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for quote in user_quotes %}
            <tr>
                <td> {{ quote["quote_text"] }} </td>
                <td> {{ quote["quotee"] }} </td>
                <td>
                    <a href="/delete_quote/{{ quote['quote_id'] }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}