{% extends "layout.html" %}

{% block main_body %}

<h2>My Submissions</h2>
{% if not user_quotes %}
<p> You have no submissions. <u> <a href="/submit"> Submit a quote. </a> </u> </p>
{% else %}
<div class="tablediv">
    <table>
        <thead>
            <tr>
                <th> Quote </th>
                <th> Quotee </th>
                <th> Favourites </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for quote in user_quotes %}
            <tr>
                <td> {{ quote["quote_text"] }} </td>
                <td> {{ quote["quotee"] }} </td>
                <td style="text-align: center;">
                    <button id='quoteid-{{ quote["quote_id"] }}' class="fav_btn">
                        {% if quote["quote_id"] in favourites %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                        {% endif %}
                    </button>
                    <div class="fav_count">{{ quote["fav_count"] }}</div>
                </td>
                <td style="text-align: center;">
                    <a href="/delete_quote/{{ quote['quote_id'] }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='scripts/favourite.js') }}"></script>
{% endif %}


{% endblock %}