{% extends "layout.html" %}

{% block main_body %}

<h2>Sign Up</h2>

<div class=form>
    <form action="/signup" method="post">
        <input autocomplete="off" name="firstname" placeholder="First Name" type="text" maxlength="30">
        <input autocomplete="off" name="lastname" placeholder="Last Name" type="text" maxlength="30"> <br><br>
        <input autocomplete="off" name="username" placeholder="User Name" type="text" maxlength="20">
        <input autocomplete="off" name="password" placeholder="Password" type="password" maxlength="255">
        <input autocomplete="off" name="password2" placeholder="Confirm password" type="password" maxlength="255"> <br><br>
        <br><br>
        <input type="submit">
    </form>
    {% if error %}
        <p style="color: red"> {{ error }} </p>
{% endif %}
</div>

{% endblock %}